.modal-content.large {
  max-width: 700px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--spacing-lg);
}

.tab-btn {
  padding: var(--spacing-sm) var(--spacing-md);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-muted);
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

.tab-btn.active {
  color: var(--text-main);
  border-bottom-color: var(--accent);
}

.tab-content {
  /* min-height: 400px; */
}

/* General Tab Styles */
.danger-zone {
  margin-top: var(--spacing-xl);
  border: 1px solid var(--error);
  border-radius: var(--radius-lg);
  padding: var(--spacing-lg);
}

.danger-zone h4 {
  color: var(--error);
  margin-bottom: var(--spacing-md);
}

.danger-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.danger-item p {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.btn-danger {
  background-color: var(--error);
  color: white;
}


/* Users Tab Styles */
.invite-form {
  margin-bottom: var(--spacing-xl);
}

.invite-form h3, .user-list h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-sm);
}

.invite-form .form-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-md);
  align-items: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-height: 300px;
  overflow-y: auto;
  padding-right: var(--spacing-sm);
}

.role-group-title {
  font-size: .8rem;
  text-transform: uppercase;
  color: var(--text-muted);
  font-weight: 600;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--border);
  padding-bottom: var(--spacing-xs);
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  transition: background-color var(--transition-fast);
}

.user-list-item:hover {
  background-color: var(--bg-hover);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 500;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.role-select {
  font-size: 0.8rem;
  border: 1px solid var(--border);
  background-color: var(--bg-main);
  color: var(--text-secondary);
  padding: 4px 8px;
  border-radius: var(--radius-sm);
}
.role-select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-remove {
  background: none;
  border: none;
  color: var(--text-muted);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.btn-remove:hover:not(:disabled) {
  background-color: var(--error);
  color: white;
}
.btn-remove:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
